@using CheckSaver.Models
@using CheckSaverCore.tmp
@using CheckSaverCore.tmp.ExtentionsModels
@model Stores

@{
    ViewBag.Title = "Магазин " + Model.Title;
}

<div class="form-horizontal col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2 card card-big card-big-full-bordered">
    <div class="card-big-title">
        <div class="main-title">@ViewBag.Title</div>
        <div class="sub-title"> Общая сумма: @Model.Checks.Sum(x => x.Purchases.Sum(y => y.Summ));</div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2 store-image">
            <img id="storePhoto" class="img-responsive img-thumbnail" src="@Url.Content(Model.Photo)" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <hr />
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-offset-0 col-lg-offset-0">

        @foreach (Checks check in Model.Checks.OrderByDescending(x => x.Date))
            {
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-3">
                @{
                    Html.RenderPartial("~/Views/Checks/Card.cshtml", check);
                }
            </div>
                    }
    </div>

    <div class="round-button">
        <div class="round-button-circle" onclick="location.href = '@Url.Action("Create", "Stores")'; ">
            +
        </div>
    </div>

</div>