<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CheckSaveDbModel" connectionString="data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\CheckSave.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="StoreContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=StoreContext-20150219221123; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|StoreContext-20150219221123.mdf" providerName="System.Data.SqlClient" />
    <add name="CheckSaveDbModelContainer" connectionString="metadata=res://*/Models.CheckSaveDbModel.csdl|res://*/Models.CheckSaveDbModel.ssdl|res://*/Models.CheckSaveDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\CheckSave.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CheckSaveEntities" connectionString="metadata=res://*/Models.CheckSaveDbModel.csdl|res://*/Models.CheckSaveDbModel.ssdl|res://*/Models.CheckSaveDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\CheckSave.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CheckSaveCS" connectionString="metadata=res://*/Models.CheckSaveModel.csdl|res://*/Models.CheckSaveModel.ssdl|res://*/Models.CheckSaveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\CheckSave.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="uh357966_db2Entities" connectionString="metadata=res://*/Models.CheckSaverModel.csdl|res://*/Models.CheckSaverModel.ssdl|res://*/Models.CheckSaverModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.190.46.34,33301;initial catalog=uh357966_db2;persist security info=True;user id=uh357966_user;password=BHN3m98BWA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="uh357966_db2Entities1" connectionString="metadata=res://*/Models.NewCheckSaverModel.csdl|res://*/Models.NewCheckSaverModel.ssdl|res://*/Models.NewCheckSaverModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.190.46.34,33301;initial catalog=uh357966_db2;persist security info=True;user id=uh357966_user;password=BHN3m98BWA;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>