
@{
    ViewBag.Title = "Калькулятор расходов";
}

<script>
    $(function () {
        $('.navbar-brand')[0].innerHTML += '@ViewBag.Title';

        $("input[type=number]").attr("step", ".01");
        $("input[type=number]").change(Calculate());
    });

    function AddPlusField() {
        var inp = this;

        if (inp.value != "") {
            $("div.positive").append('<div class="form-group"><input class="form-control" type="number" placeholder="" onchange="Calculate();"></div>');
        }
    }

    function Calculate() {
        AddPlusField();
            var positives = $("div.positive input[type=number]");
            var negatives = $("div.negative input[type=number]");

            var pos = 0;
            positives.each(function () {
                var v = parseFloat(this.value);
                if (isNaN(v))
                    v = 0;
                pos += v;
            });
            $("#pos").val(pos);

            var neg = 0;
            negatives.each(function () {
                var v = parseFloat(this.value);
                if (isNaN(v))
                    v = 0;
                neg += v;
            });
            $("#neg").val(neg);

            var total = pos - neg;
            $("#total").val(total);
    }
</script>

<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card card-calc positive">
            <div class="main-title">Доход</div>
            <hr>
            @for (int i = 0; i < 1; i++)
            {
                <div class="form-group">
                    <input class="form-control" type="number" placeholder="">
                </div>
            }
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
        <div class="card card-calc negative">
            <div class="main-title">Траты</div>
            <hr>
            @for (int i = 0; i < 1; i++)
            {
                <div class="row card-inline-row">
                    <div class="col-lg-8">
                        <input class="form-control" type="text" placeholder="Что" />
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" type="number" placeholder="Цена">
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
        <div class="card card-calc total">
            <div class="main-title">Итого</div>
            <hr>

            <div class="form-group">
                <input class="form-control" id="pos" type="number" placeholder="0">
            </div>
            <div class="form-group">
                <input class="form-control" id="neg" type="number" placeholder="0">
            </div>
            <hr />
            <div class="form-group">
                <input class="form-control" id="total" type="number" placeholder="0">
            </div>

        </div>
    </div>
</div>