<div class = "container">
    <div class = "row">
        <div class = "col-lg-12 text-center">
            <h2 class = "section-heading"> Біографія </h2>
            <h3 class = "text-muted"> Особистісний становлення </h3>
            <p class = "text-justify"> Я, Лисакова Наталія Володимирівна, народилася 22 серпня 1992 в місті Донецьк. Мої батьки: мати - Лисакова Тетяна Володимирівна, фармацевт, батько - Лисаков Володимир Анатолійович - інженер-механік. Я - єдина дитина в сім'ї.</p>
            <p class = "text-justify"> Активну участь у моєму вихованні брали дві бабусі - Лисакова Тамара Абовна, інженер-геолог, і Черкашина Галина Михайлівна, кухар. Також моїм вихованням займався дідусь Черкашин Володимир Васильович - шахтар.
            </P>
            <p class = "text-justify">
                Бабусі й дідусь виховували мене до школи, читати я навчилася в 4 роки, рахувати - приблизно в той же час, і це повністю їхня заслуга.
            </P>
            <p class = "text-justify">
                Всі свої шкільні роки я провела в ЗОШ №98, м.Донецьк. В період навчання там була досить старанною ученицею, і закінчила школу з двома «четвірками» в атестаті. Брала активну участь у шкільному житті, брала участь у КВК, шкільних святах, олімпіадах. В 10 класі перемогла в шкільних виборах і зайняла посаду «Прем'єр-міністра школи».
            </p>
            <p class = "text-justify">
                У 2014 році я переїхала до Львова і буквально закохалася в це місто і його історію.
            </p>

        </div>
    </div>
    <div class = "row">
        <div class = "col-lg-12 text-center">
            <h3 class = "text-muted"> Професійне становлення </h3>
            <p class = "text-justify">
                З вибором професії визначилася не відразу - батьки хотіли, щоб я пов'язала своє життя із залізницею. Але у мене на цей рахунок були інші плани. Єдине, в чому мене обмежували батьки - це час проводження за комп'ютером. Тому я завжди використовувала цей час з користю і вже в 12 років почала самостійно вивчати мову розмітки HTML. На той момент для мене це було схоже на магію, тому завжди хотілося дізнатися більше. З цієї причини, коли постало питання вибору ВНЗ, я все-таки подала документи в Державний університет інформатики і штучного інтелекту, про який мріяла кілька років.
            </p>
            <p class = "text-justify">
                У 2010 році почалося моє студентське життя. Чотири роки здобуття вищої освіти пройшли в Державному університеті інформатики і штучного інтелекту, який у 2012 році приєднався до Донецького національного технічного університету. Під час студентського життя я перестала брати участь у різних заходах, напевно, з причини втрати інтересу. Замість цього я стала сильніше заглиблюватися в особливості своєї майбутньої професії. Як виявилося, розробка програмного забезпечення - це складний і багаторівневий процес, в якому беруть участь не тільки програмісти, але й аналітики, менеджери, проектувальники та інші.
            </p>
            <p class = "text-justify">
                У 2014 році я отримала диплом бакалавра.
            </p>
            <p class = "text-justify">
                В цей час я продовжую навчатися в магістратурі на спеціальності "Програмне забезпечення систем". Одночасно з цим вивчаю нові технології, про які не згадувалося в університеті, але які затребувані в сучасній індустрії програмного забезпечення.
            </p>
        </div>
    </div>

    <div class = "row">
        <div class = "col-lg-12 text-center">
            <h3 class = "text-muted"> Цілі, плани і бачення майбутнього </h3>
            <p class = "text-justify"> У майбутньому хотілося б продовжити своє становлення в якості розробника програмного забезпечення, тому що це дуже цікава і перспективна професія. Також хотілося б відвідати різні країни, познайомитися з новими людьми і зануритися в їх культуру. </p>
        </div>
    </div>
</div>