@using System.Linq
@model System.Collections.Generic.IEnumerable<CheckSaver.Models.Check>

@{
    ViewBag.Title = "Index";
}

<script>
    $('.navbar-brand')[0].innerHTML += "Чеки";
</script>


<div class="container">

    @foreach (var item in Model.OrderByDescending(x => x.DateTime))
    {
        <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 nopaddiing">
            @{ Html.RenderPartial("Card", item); }
        </div>

    }
</div>

<div class="round-button">
    <div class="round-button-circle" onclick="location.href = '@Url.Action("Create", "Checks")'; ">
        +
    </div>
</div>

<div class="overlay"></div>

