@{
    Layout = null;
}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Приложения</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="/Application/Diagnostika">
                    <h4>Диагностика Plus</h4>
                    <img class="img-responsive img-rounded center-block" src="/Content/images/icon (2).png">
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Application/Semechki/semechki.application">
                    <h4>Семечки</h4>
                    <img class="img-responsive img-rounded center-block" src="/Content/images/icon.png">
                </a>

            </div>
            <div class="col-md-4">
                <a href="/Checks">
                    <h4>CheckSaver</h4>
                    <img class="img-responsive img-rounded center-block" src="/Content/images/w512h5121339248515check512.png">
                </a>

            </div>

        </div>
    </div>
