<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Биография</h2>
            <h3 class="text-muted">Личностное становление</h3>
            <p class=" text-justify">Я, Лысакова Наталья Владимировна, родилась 22 августа 1992 года в городе Донецк. Мои родители: мать – Лысакова Татьяна Владимировна, фармацевт, отец – Лысаков Владимир Анатольевич – инженер-механик. Я – единственный ребенок в семье.
            </p>
            <p class=" text-justify">Активное участие в моем воспитании принимали две бабушки – Лысакова Тамара Абовна, инженер-геолог, и Черкашина Галина Михайловна, повар. Также моим воспитанием занимался дедушка Черкашин Владимир Васильевич – шахтёр.
            </p>
            <p class=" text-justify">
                Бабушки и дедушка воспитывали меня до школы, читать я научилась в 4 года, считать – примерно в то же время, и это полностью их заслуга.
            </p>
            <p class=" text-justify">
                Все свои школьные годы я провела в ОШ №98, г.Донецк. В период обучения там была довольно старательной ученицей, и закончила школу с двумя «четверками» в аттестате. Принимала активное участие в школьной жизни, участвовала в КВН, школьных праздниках, олимпиадах. В 10 классе победила в школьных выборах и заняла должность «Премьер-министра школы».
            </p>
            <p class=" text-justify">
                В 2014 году я переехала во Львов и буквально влюбилась в этот город и его историю.
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-muted">Профессиональное становление</h3>
            <p class=" text-justify">
                С выбором профессии определилась не сразу – родители хотели, чтоб я связала свою жизнь с железной дорогой. Но у меня на этот счет были другие планы. Единственное, в чем меня ограничивали родители – это время провождения за компьютером. Поэтому я всегда использовала это время с пользой и уже в 12 лет начала самостоятельно изучать язык разметки HTML. На тот момент для меня это было похоже на магию, поэтому всегда хотелось узнать больше. По этой причине, когда встал вопрос выбора ВУЗа, я все-таки подала документы в Государственный университет информатики и искусственного интеллекта, о котором мечтала несколько лет.
            </p>
            <p class=" text-justify">
                В 2010 году началась моя студенческая жизнь.  Четыре года получения высшего образования прошли в Государственном университете информатики и искусственного интеллекта, который в 2012 году присоединился к Донецкому национальному техническому университету. Во время студенческой жизни я перестала участвовать в различных мероприятиях, наверное, по причине утраты интереса. Вместо этого я стала сильнее углубляться в особенности своей будущей профессии. Как оказалось, разработка программного обеспечения – это сложный и многоуровневый процесс, в котором участвую не только программисты, но и аналитики, менеджеры, проектировщики и другие.
            </p>
            <p class=" text-justify">
                В 2014 году я получила диплом бакалавра.
            </p>
            <p class=" text-justify">
                В данный момент я продолжаю обучаться в магистратуре на специальности “Программное обеспечение систем”. Одновременно с этим изучаю новые технологии, о которых не упоминалось в университете, но которые востребованы в современной индустрии программного обеспечения.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-muted">Цели, планы и видение будущего</h3>
            <p class=" text-justify">В будущем хотелось бы продолжить свое становление в качестве разработчика программного обеспечения, т.к. это очень интересная и перспективная профессия. Также хотелось бы посетить разные страны, познакомиться с новыми людьми и погрузиться в их культуру.            </p>
        </div>
    </div>




</div>