<div class="container">
    <div class="row">
        <div class="col-md-4">
            <span class="copyright">Портал Магистров ДонНТУ &copy; Лысакова Н.В. 2015</span>
        </div>
        <div class="col-md-4">
            <ul class="list-inline social-buttons">
                <li><a href="https://twitter.com/natashalysakova"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.facebook.com/hatassska"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://ua.linkedin.com/in/natashalysakova"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>