<div class="container ndh">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">Индивидуальный раздел</h2>
        <div class="col-xs-12">
            <h2 class="section-heading big">
                <span class="black"> Neue</span> <span class="red">Deutsche</span>
                <span class="yellow">Härte</span>
            </h2>
            <img src="http://cs624218.vk.me/v624218938/32c0a/422z59IY3eY.jpg"
                 class="col-xs-3 img-responsive">
            <p>
                Интересоваться творчеством немецких рок-исполнителей я начала на втором курсе университета.
                Точнее, увлечение началось с одной единственной группы "Scorpions", которая хорошо известна и горячо
                любима в нашей стране. В тот момент я не подозревала, что это увлечение обернется для меня чем-то
                большим, чем просто прослушивание хорошей музыки.
            </p>
            <p>
                Так получилось, что в 2012 году мне удалось побывать на их прощальном (ха ха ха) концерте в
                Днепропетровске и получить кучу впечатлений.
            </p>
            <p>
                Но к сожалению, у "Scorpions" есть одна неприятная черта, присущая популярным во всем мире немецким
                группам
                - они не поют на немецком языке. Возможно, кто-то скажет что немецкий язык слишком грубый и вообще не
                предназначен для пения, но я в корне не согласна с таким утверждением. Немецкий язык довольно
                мелодичный, и при этом достаточно четкий и ритмичный. <span class="my-btn"
                                                                            onclick="ShowOverlay('https://www.youtube.com/embed/sCCuGztL-Uc');">Детские песни</span>,
                например, на нем звучат очень даже мило.
            </p>
            <p>
                Не так давно друг рассказал мне про такой жанр немецкой музыки как "<span class="black">Neue</span> <span class="red">Deutsche</span>
                <span class="yellow">Härte</span>"(<span class="black shadowed">N</span><span class="red">D</span><span class="yellow">H</span>),
                что дословно переводится как "новая немецкая тяжесть". <span class="black shadowed">N</span><span class="red">D</span><span class="yellow">H</span> —
                направление в немецкоязычной метал-музыке, возникшее в 1990-е годы, в результате добавления в
                звучание EBM элементов индастриал-метала. И, как оказалось, группа "Rammstein", о которой слышал,
                наверное,
                каждый - это основоположники данного жанра. Но групп, играющих в жанре NDH намного больше, чем одна.
            </p>
            <p>
                Довольно известными представителями жанра являются такие группы как: Eisbrecher, Megaherz, Unheilig,
                Shtallman, Heldmaschine и другие.
            </p>
            <p>
                Во всем мире же известна группа Oomph!. Именно их творчеством вдохновлялись Rammstein в написании своего
                дебютного альбома Herzeleid, который, по сути, стал первым в новом жанре <span class="black shadowed">N</span><span class="red">D</span><span class="yellow">H</span>.
            </p>
            <img class="col-xs-4 img-circle img-responsive"
                 src="http://cs425317.vk.me/v425317508/175c/UKJoinj4o9c.jpg">

            <p>
                Музыкально <span class="black shadowed">N</span><span class="red">D</span><span class="yellow">H</span>
                вобрал в себя многие черты тяжелой музыки. Для NDH характерно широкое разнообразие
                используемых инструментов/звуковых эффектов, часто требуется несколько прослушиваний композиции,
                чтобы определить все детали. Основную линию музыки ведёт почти танцевальный бит в стиле техно который
                обычно включает в себя бас-ударные или сменяющие друг друга тарелки и бас-ударные партии.
            </p>
            <p>
                Из основных характерных черт можно выделить преимущественно немецкоязычный глубокий, чистый мужской
                вокал, часто более спокойный, чем в других жанрах метала. Лирика затрагивает такие темы, как любовь,
                ненависть, ревность, религия и смерть, зачастую делает это косвенно, через метафоры или
                повествование. Некоторые группы обращались в написании текстов к приёму двусмысленности.
            </p>
            <p>
                Группы формируют свой концертный образ на основе мужественного, близкого к милитаризму стилю.
            </p>
            <p>
                <span class="black">Neue</span> <span class="red">Deutsche</span> <span class="yellow">Härte</span>
                пользуется наибольшей популярностью в континентальной Европе. Rammstein продали почти четыре миллиона
                записей в Германии, накапливая золотые и платиновые записи в Швеции, Австрии, Бельгии, Нидерландах,
                Швейцарии, Дании, Норвегии, Польше, Финляндии и Чехии. А альбом Oomph! "Wahrheit oder Pflicht"
                становится
                золотым в Австрии и Германии.
            </p>

        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/g0FA1Z8plyk');">
            <img src="http://cs624218.vk.me/v624218938/32b66/5VHvqqlNgmk.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Rammstein</div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/z86tMU7oGM8');">
            <img src="http://cs624218.vk.me/v624218938/32b57/1B61OcaPZ-U.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Heldmaschine</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/NRbD3ggyc7U');">
            <img src="http://cs624218.vk.me/v624218938/32b4f/hQq6MRdOY5Q.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Megaherz</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/R-PnOA9wGc8');">
            <img src="http://cs624218.vk.me/v624218938/32b75/BSFo6KXu0n0.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Stahlmann</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/HPzDDMh4BNo');">
            <img src="http://cs624218.vk.me/v624218938/32b8c/5UQ63EXmNwM.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Unheilig</div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/7pLdlCI2XNI');">
            <img src="http://cs624218.vk.me/v624218938/32b47/bwsOtXjFZXE.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Oomph!</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/CMm9pSSaw2Q');">
            <img src="http://cs624218.vk.me/v624218938/32ba2/7jJsuUONtBk.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Eisheilig</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/ezsiHJibMFs');">
            <img src="http://dark-world.ru/files/covers/1357/135714.jpg" class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Ost+Front</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/_SmpDxSWp3o');">
            <img src="http://cs624218.vk.me/v624218938/32b6d/N8Qsxy1j7Fk.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Unzucht</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/PjXAGORF9JI');">
            <img src="http://cs624218.vk.me/v624218938/32bbd/TV38fGs9axo.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Eisbrecher</div>
        </div>
        <div class="col-xs-12">
            <h2 class="section-heading shadowed">
                <span class="green">Folk</span>
            </h2>

            <p>
                Не индастриалом единым живут поклонники немецкой музыки. Также довольно популярен средневековый
                фолк-металл. Средневековый метал (нем. Mittelalter metal) — поджанр фолк-метала, который объединяет
                хард-рок или метал со средневековой музыкой. Жанр возник в середине 90-х, благодаря экспериментам групп
                Subway to Sally, In Extremo и Corvus Corax.
            </p>
            <img src="http://3c5ba0bc725a05b10d03-fe9466316f2b65e8bdc7f6003371e577.r71.cf3.rackcdn.com/509761/full/img_9084.jpg"
                 class="col-xs-4 img-responsive img-circle">
            <p>
                В средневековом метале, наряду с характерными для жанра инструментами - гитарами, бас-гитарами и
                ударными, широко используются также традиционные народные инструменты. Наиболее распространены духовые
                инструменты, такие как волынка, флейта, шалмей и вистл. Многие группы используют в своем творчестве
                также струнные инструменты: скрипку, колесную лиру, никельхарпу и мандолину. Синтезатор в средневековом
                метале используется довольно редко, среди групп, имеющих или имевших элементы индастриал-метала в
                творчестве, можно выделить Tanzwut, Saltatio Mortis и In Extremo. Поскольку данный жанр зародился в
                Германии, большая часть песен исполняется на немецком языке. Однако коллективы также исполняют народные
                средневековые песни и баллады на латыни, французском языке, а также скандинавских языках.
            </p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/VUtsV8TWKro');">
            <img src="http://cs624218.vk.me/v624218938/32b40/-Jz4PMdLAZM.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>In Extremo</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/Lka-2-5BVzM');">
            <img src="http://cs624218.vk.me/v624218938/32bb4/IT72FmWMCDg.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Schandmaul</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/wzmh0Bn44XM');">
            <img src="http://cs624218.vk.me/v624218938/32b9b/yc6gIrlGLfc.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Feuerschwanz</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/-_-wgLwdoy4');">
            <img src="http://cs624218.vk.me/v624218938/32b94/TyBTqh4VYxg.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Letzte Instanz</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/MTSitlFXEX8');">
            <img src="http://cs624218.vk.me/v624218938/32b83/b8oC4Ppm6RI.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Saltatio Mortis</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/9GKSJAuHX1k');">
            <img src="http://cs624218.vk.me/v624218938/32b7c/9XmUbji016M.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Schelmish</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn padded"
             onclick="ShowOverlay('https://www.youtube.com/embed/vXhhCVAwHhw');">
            <img src="http://cs624218.vk.me/v624218938/32c2e/7iRg188a-j8.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Tanzwut</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 my-btn"
             onclick="ShowOverlay('https://www.youtube.com/embed/xx-jFEq8AAE');">
            <img src="http://cs624218.vk.me/v624218938/32bab/TvXM22_lHlg.jpg"
                 class="img-responsive img-thumbnail">
            <div class="info"><span class="fa fa-play"></span><br>Faun</div>
        </div>
        <div class="col-xs-12">
            <p>
                Летом 2015-го года очень бы хотелось попасть на фестиваль ZaxidFest, который ежегодно
                проводиться в Родатичах, возле Львова, ведь в этом году там будут выступать Oomph! c новым альбомом. Но,
                конечно же, "меккой" для всех любителей немецкой рок-музыки является фестиваль Rock-am-Ring, который
                ежегодно проходил в Нюрбурге(Арвайлер, Рейнлан-Пфальц, Германия), а с этого года переехал в
                Мендиг(Майен-Кобленц, Рейнланд-Пфальц, Германия). На этом фестивале выступают не только немецкие рок-группы,
                а и самые популярные мировые коллективы.
            </p>
        </div>
        <div class="col-xs-12">
            <h2 class="section-heading shadowed">
                <span class="z  ">Рок-музыка в работах магистров ДонНТУ</span>
            </h2>
            <ol>
                <li>
                    <a href="../2012/fimm/polyanskiy/ind/index.htm">Полянский Дмитрий Владимирович</a> - Мой мир музыки
                </li>
                <li><a href="../2011/igg/voloshin/ind/index.htm">Волошин Дмитрий Владимирович</a> - Хэви-метал</li>
                <li>
                    <a href="../2012/feht/tsybulskaya/ind/index.htm">Цыбульская Кристина Владиславовна</a> - История
                    одной песни…
                </li>
                <li>
                    <a href="../2011/fkita/zagumenjyk/ind/index.htm"> Загуменюк Юлия Николаевна</a> - Что такое рок?
                </li>
                <li>
                    <a href="../2012/fknt/stropalov/ind/index.htm">Стропалов Андрей Сергеевич</a> - Величайшие
                    рок-группы
                </li>
                <li>
                    <a href="../2008/fema/gubenok/ind/index.htm">Губенок Александр Игоревич</a> - Хард-рок. Истоки.
                    Развитие. Сущность.
                </li>
            </ol>

        </div>
    </div>
</div>

<div class="overlay" onclick="closeOverlay();">
    <img src="~/Content/images/ajax-loader.gif" id="loader">
    <button type="button" class="close" aria-label="Close" id="close-overlay" onclick="closeOverlay();">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="container video-fr">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>





