<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Библиотека</h2>
            <h3 class="text-muted">Собственные публикации</h3>
            <ol>
                <li class="link">
                    <a href="">
                        ДОСЛІДЖЕННЯ МЕТОДІВ РОЗВ'ЯЗАННЯ БАГАТОВИМІРНИХ ЗАДАЧ ДИНАМІЧНОГО ПРОГРАМУВАННЯ
                    </a><br>
                    Авторы: Лысакова Н.В., Маслова Н.А.<br>
                    Описание:
                </li>
                <li class="link">
                    <a href="">
                        ПОРІВНЯННЯ АЛГОРИТМІВ РІШЕННЯ ЗАДАЧ РОЗПОДІЛУ РЕСУРСІВ
                    </a><br>
                    Авторы: М.А.Завольнюк, Н.В.Лысакова, Н.А.Маслова.<br>
                    Описание:
                </li>
                <li class="link">
                    <a href="">
                        ПРО СУЧАСНІ ПІДХОДИ ДО РІШЕННЯ ЗАДАЧ РОЗПОДІЛУ РЕСУРСІВ
                    </a> <br>
                    Авторы: М.А.Завольнюк, Н.В.Лысакова, Н.А.Маслова.<br>
                    Описание:
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-muted">Тематические статьи</h3>
            <ol start="4">
                <li class="link">
                    <a href="http://www.dynsys.crimea.edu/issue/22/dynsys_22_Shcherbina.pdf">
                        Методологические аспекты
                        динамического программирования
                    </a><br>
                    Автор: О.А. Щербина<br>
                    Описание: Описана классификация задач динамического программирования на основе анализа бесконтурных
                    орграфов процедуры динамического программирования на сериальные и несериальные задачи, на
                    монадические и полиадические задачи. Приведены примеры классификации задач динамического
                    программирования.
                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/VSPU2014_9003.pdf">
                        РАСПРЕДЕЛЕНИЕ РЕСУРСОВ В КОНТЕКСТЕ
                        МУЛЬТИАГЕНТНЫХ СИСТЕМ
                    </a><br>
                    Авторы: Н.В. Мальковский, О.Н. Граничин, К.С. Амелин<br>
                    Описание: В статье предлагается в общих чертах описание различных вариантов задачи распределения
                    ресурсов в контексте мультиагентных систем, областей ее применимости и существующих методов решения
                    этой задачи. Приведена поста новка задачи, охватывающая как классические задачи распределения
                    ресурсов, так и практические задачи распределения ресурсов в больших информационных системах.

                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/yablonskii_s_v_red_problemy_kibernetiki_vypusk_40.djvu">
                        О локальных алгоритмах решения квазиблочных задач дискретного программирования
                        Программирование и машинный эксперимент
                    </a><br>
                    Авторы: Щербина О.А.
                    Описание: Проблема разработки методов декомпозиции
                    в дискретном программировании, сводящих решение
                    исходной задачи дискретного программирования к решению ряда задач меньших
                    размеров, которые уже могут быть решены с помощью известных
                    алгоритмов.
                </li>
                <li class="link">
                    <a href="http://www.ipai.net.ua/general/ai_content.php3?m=48&l=u">
                        Методы теории вычислений в решении задач управления технологическими процессами
                    </a><br>
                    Авторы: Маслова Н.А.<br>
                    Описание: Составлен перечень функциональных задач и предполагаемые методы их решения. Для одного из
                    типов задач проведено сравнение методов по признаку вычислительной сложности и объему требуемой
                    памяти. Предложен алгоритм решения задачи, сочетающий элементы трех методов.
                </li>
                <li class="link">
                    <a href="http://elib.crimea.edu/dynsis/dynsis19.djvu">
                        О несериальной модификации локального алгоритма декомпозиции задач дискретной оптимизации
                    </a> <br>
                    Авторы: Щербина О.А.<br>
                    Описание: В статье предложен новый алгоритм декомпозиции задач дискретной оптимизации, сочетающий в
                    себе идеи локальных декомпозиционных алгоритмов и несериального динамического программирования.
                </li>
                <li class="link">
                    <a href="http://20bits.com/article/introduction-to-dynamic-programming">
                        Introduction to Dynamic Programming
                    </a> <br>
                    Авторы: Jesse Farmer<br>
                    Описание: Dynamic programming is a method for efficiently solving a broad range of search and
                    optimization problems which exhibit the characteristics of overlappling subproblems and optimal
                    substructure.
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-muted">Перевод с иностранного языка</h3>
            <div class="text-left">
                <a data-toggle="collapse" href="#translate" aria-expanded="false" aria-controls="translate">
                    Применение динамического программирования для решения
                    проблемы оптимального распределения сырья
                </a>
                <div class="collapse" id="translate">
                    <h4>
                        ПРИМЕНЕНИЕ динамического программирования для РЕШЕНИя
                        ПРОБЛЕМы оптимального распределения СЫРЬЯ
                    </h4>
                    <h5>Анна Ландовска</h5>
                    <h5 class="text-muted">
                        Кафедра прикладной математики и економики, Западно-Поморского университета
                        технологий в Шецине
                        ул. Климент Яницкий 31, 71-270 Щецин, адрес электронной почты: alandowska@zut.edu.pl
                    </h5>
                    <p>
                        В статье представлено применение метода динамического программирования для решения
                        задачи оптимального распределения сырья. Автор показал, что
                        метод динамического программирования, основаный на уравнении Беллмана, находит оптимальное
                        решение
                        очень
                        быстро. Полученные результаты оптимизации сравниваются с другими методами.

                    <p>
                        <b><i>Ключевые слова:</i></b> методы оптимизации, задача оптимального распределения, динамическое
                        программирование.
                    </p>
                    <h5>Введение</h5>
                    <p>
                        Динамическое программирование (ДП) в качестве метода решения задачи оптимизации было разработано
                        в
                        50-е годы в прошлого века Беллманом (1952). Этот метод хорошо исследован, и, следовательно,
                        может
                        быть использован для решения определенных проблем.
                    </p>
                    <p>
                        В статье рассмотрены следущие вопросы: принцип оптимальности
                        Беллмана и классификация задач динамического программирования. Затем будет описано
                        функциональное уравнение динамического программирования. Ниже приведен пример,
                        который решается двумя способами и сделан вывод.
                    </p>
                    <p>
                        Было показано, что метод динамического программирования генерирует быстрое решение, и с меньшим
                        объемом памяти, чем алгоритм, который ищет все пространство
                        решений. Важно найти способ, с помощью которого мы получим решение как можно скорее.
                    </p>
                    <h5>Решение ПРОБЛЕМЫ динамического программирования</h5>
                    <p>
                        Динамическое программирование применяется во многих дисциплинах: в математике,
                        техники, экономики, медицины, физики, а также в области искусственного интеллекта,
                        информационных
                        системах и т.д. (Findeisen др. 1972 Лев и Мош 2007 г.).
                    </p>
                    <p>
                        Теоретической основой метода ДП является принцип оптимальности: "оптимальная стратегия имеет
                        свойство, что какими бы ни были начальное состояние и начальное решение, последующие решения
                        должны
                        составлять оптимальный курс действий по отношению к состоянию, полученному в результате первого
                        решения. Иными словами оптимальная стратегия зависит только от текущего состояния и цели, и не
                        зависит от предыстории."(Беллмана 1965, стр. 504).
                    </p>
                    <p>
                        Фундаментальной особенностью всех задач, которые можно решить с помощью уравнений
                        Беллмана является распределение целевой функции во времени. Таким образом, целевой функцией
                        должна
                        быть сумма вложений с последующими периодами. Преимущество использования динамического
                        программирования в том, что вы можете использовать его для решения задач с большим
                        количеством переменных, кроме выпуклых задач программирования (Stadnicki 2006 г.). Вопросы
                        связанные с динамическим программированием подробно описаны, в частности, в работах
                        Findeisen и др.(1972) и Грабовский (1980).
                    </p>
                    <p>
                        Лев и Мош (2007), в упорядочили группы задач, для решения которых используется динамическое
                        программирование:
                    </p>
                    <ul class="list">
                        <li>
                            Проблема поиска пути в графе - Связан с поиском наиболее короткого (длинного) пути в графе;
                        </li>
                        <li>
                            Проблема порядка - Оптимальная последовательность или перестановка объектов в коллекции;
                        </li>
                        <li>
                            Проблема выбора - состоит в выборе оптимального подмножества из множества элементов;
                        </li>
                        <li>
                            Проблема разделения или группировки - разделение набора объектов на кластеры;
                        </li>
                        <li>
                            Проблема распределения - множество объектов распределяетсяот поставщиков потребителям в
                            оптимальном порядке;
                        </li>
                        <li>
                            Проблема производства, инвентаризация, замены - задача связанная с выбором целесообразности
                            солбственного рпоизводства товаров либо их закупки у поставщика. Сюда же относится просблема
                            замены старого оборудования на новое.
                        </li>
                        <li>
                            Проблема оптимального бинарного дерева - ситуация, в которой, для решения исходной задачи,
                            она
                            делится на две подзадачи, которые тоже разбиваются на подзадачи до какого-то определенного
                            момента, а потом решаются, чтоб получить глобальное решение.
                        </li>
                        <li>
                            Проблема вероятности - вероятность возниконовения на следущем шаге любого состояния из
                            альтернативных возможных состояний
                        </li>
                        <li>Проблема обработки строк;</li>
                        <li>
                            Проблемы неоптимизации - признание проблемы в решении, когда оптимизация в нем не
                            выпоняется.
                        </li>
                    </ul>
                    <h5>ПРОБЛЕМА оптимального распределения</h5>
                    <p>
                        Проблема оптимального распределения состоит в том, чтобы решить как доставить наибольшее
                        количество сырья для
                        своих
                        пользователей, потратить при этом как можно меньше средств и получить доход.
                    </p>
                    <p>
                        Предположим,
                        что данны M единиц сырья, и пусть C(k,d) означает стоимость доставки d единиц к
                        потребителю k, где d = 0..M, k = 1..N. Предположим d1 означает распределение единиц для
                        пользователя
                        1 в
                        размере d1; d2 для пользователя 2 и т.д. определяют состояние ( K, M) оставшееся количество м
                        единиц
                        продукта стадии е. Стоимость решения о выделении г один nostek в шаге к пользовательским к это
                        C(k,d) В
                        то время как следующее состояние ( K + 1, м-д) Функциональное уравнение динамического
                        программирования
                        (уравнение Беллмана) имеет вид:
                    </p>
                    <img src="~/Content/images/2015-05-27_143302.png" />
                    <p>
                        Цель состоит в том, чтобы найти значения f(1,m)
                        с начальным условием
                        f(N+1, m) = 0,
                        где
                        m>=0. Если
                        d>m
                        (Вместо ограничения d по М), мы принимаем дополнительные
                        начальное условие
                        f(N+1, m) = inf, где
                        m <0 для предотвращения случая, когда будут пытаться выделить больше сырья, чем имеется в
                             наличии.(Лео, Мош 2007).
                    </p>

                    <p>
                        <b>Пример.</b> Шахта хочет доставить 15 тонн сырья на завод. В настоящее время на рынке
                        три перевозчика; стоимость перевозки зависит от тоннажа сырья (Таблица. 1). шахта может
                        использовать только одного перевозчика одновременно. Проблемасостоит в том, , чтобы выбрать
                        такой порядок, чтоб стоимость транспортировки была оптимальной.
                    </p>
                    <p>
                        Низкая стоимость перевозки 15 т сырья 6600 злотых, когда перевозчик 1 будет перевозить 5т
                        сырья, перевозчик 2 - 2т, и перевозчик 3 - 8 т.
                    </p>
                    <p>
                        Метод перебора позволяет получить правильное решение, рассмотрев 240 вариантов пеервозки. При
                        этом
                        метод анализирует каждую возможную комбинацию перевозки, даже если тоннаж перевозимого сырья
                        будет меньше 15 т. на рисунке ниже показан принцип создания вариантов транспортировки.
                    </p>
                    <img src="~/Content/images/2015-05-27_232859.png">
                    Рис. 1. Сеть показывающая количество сравнений в методе

                    <p>
                        Метод с использованием динамического программирования позволяет найти правильное решение в
                        152 сравнения, что означает, что затраты на транспортировку будут 6600 злотых, а перевозчики 1,
                        2, 3 бутут транспортировать сырье массой 5т, 2т и 8т соответсвенно. В примере двух переменных
                        уравнение:
                    </p>
                    <img src="~/Content/images/2015-05-27_233121.png">
                    <p>где:</p>
                    <p> К - количество носителя, k=3,2,1; </p>
                    <p> м - количество оставшихся тонн сырья для перевозки;</p>
                    <p> C(d,k)- cтоимость перевозки d сырья перевозчиком k на шаге k.</p>
                    <p>
                        Оптимальное решение является минимальным значением f(1,15). Решение начать подсчет стоимости
                        перевозки оставшегося количества товаров перевозчиком 3. Таким образом, с помощью уравнения
                        Беллмана для k=3 или k=2 получаем:
                    </p>
                    <img src="~/Content/images/2015-05-27_232909.png">
                    <p>В то же время, введем символ "inf", если решение приводит к более чем 15 т сырья.</p>
                    <p>
                        Таким образом, минимальное значение функции
                        f(1,15) = 66 - на основе уравнения Беллмана. Чтобы подтвердить вычислить значение:
                    </p>
                    <img src="~/Content/images/2015-05-27_232919.png">
                    <p>Таблица 1. Проблема транспорта</p>
                    <img src="~/Content/images/2015-05-27_232930.png">
                    <h5>ВЫВОДЫ</h5>
                    <p>
                        Динамическое программирование дает оптимальное решение для данной задачи. Динамическое
                        программирование помогает выбрать на каждом этапе процесса решения оптимальные значения, требуя
                        меньше итерации, чем метод, основанный на полном переборе. Важно, что применение динамического
                        программирования позволило сократить количество вычислений, с помощью которых было получено
                        оптимальное решение.
                        На основании полученных результатов можно сделать вывод, что динамическое программирование
                        является быстрым и точным способом решения конкретной задачи оптимизации.
                    </p>
                </div>

                <br>
                <b>Авторы:</b> А. Ландовска<br>
                <b>Перевод:</b> Лысакова Н.В.<br>
                <b>Описание:</b> В статье представлены применение метода динамического программирования для решения
                задачи оптимального распределения сырья.<br>
                <b>Источник:</b> <a data-toggle="collapse" href="#original" aria-expanded="false"
                                    aria-controls="original">
                    Anna Landowska,
                    ZASTOSOWANIE PROGRAMOWANIA DYNAMICZNEGO DO ROZWIĄZANIA
                    PROBLEMU OPTYMALNEGO PRZYDZIAŁU SUROWCA.
                    FOLIA POMERANAE UNIVERSITATIS TECHNOLOGIAE STETINENSIS,
                    Folia Pomer. Univ. Technol. Stetin. 2010, Oeconomica 282 (60), 71–76.
                </a>
                <div id="original" class="collapse">
                    <iframe src="http://wydawnictwo.zut.edu.pl/files/magazines/2/27/256.pdf"
                            style="width: 100%; height: 800px;"
                            frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
