<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Ссылки</h2>
            <h3 class="text-muted">Материалы магистров ДонНТУ</h3>
            <ol>
                <li class="link">
                    <a href="http://masters.donntu.org/2007/fvti/toichkina/diss/index.htm">
                        Динамическое программирование в решении производственных задач
                    </a><br>
                    Описание: Реферат по теме выпускной работы магистра ДонНТУ Тоичкиной О.В., 2007 г.<br>
                    Руководитель: к.т.н., доц. Смирнов А.В.
                </li>
                <li class="link">
                    <a href="http://masters.donntu.org/2014/fknt/movchan/diss/index.htm">
                        Разработка и анализ метода размещения на облаке программного обеспечения для решения
                        динамических
                        задач распределения ресурсов
                    </a><br>
                    Описание: Реферат по теме выпускной работы магистра ДонНТУ Мовчан О.В., 2014 г.<br>
                    Руководитель: к.т.н., доц. Маслова Н.А.
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-muted">Научные работы и статьи</h3>
            <ol start="3">
                <li class="link">
                    <a href="http://www.dynsys.crimea.edu/issue/22/dynsys_22_Shcherbina.pdf">
                        Методологические аспекты
                        динамического программирования
                    </a><br>
                    Автор: О.А. Щербина<br>
                    Описание: Описана классификация задач динамического программирования на основе анализа бесконтурных
                    орграфов процедуры динамического программирования на сериальные и несериальные задачи, на
                    монадические и полиадические задачи. Приведены примеры классификации задач динамического
                    программирования.
                </li>
                <li class="link">
                    <a href="http://elib.crimea.edu/dynsis/dynsis19.djvu">
                        О несериальной модификации локального алгоритма декомпозиции задач дискретной оптимизации
                    </a> <br>
                    Авторы: Щербина О.А.<br>
                    Описание: В статье предложен новый алгоритм декомпозиции задач дискретной оптимизации, сочетающий в
                    себе идеи локальных декомпозиционных алгоритмов и несериального динамического программирования.
                </li>
                <li class="link">
                    <a href="http://tvim.info/files/tvim2006_2.pdf">
                        Элиминационные алгоритмы декомпозиции задач дискретной оптимизации
                    </a><br>
                    Авторы: Щербина О.А.<br>
                    Описание: Использование моделей и алгоритмов дискретной оптимизации для решения практических задач.
                </li>
                <li class="link">
                    <a href="http://tvim.info/files/tvim2006_2.pdf">
                        Локальные алгоритмы и древовидная декомпозиция для задач дискретной оптимизации
                    </a><br>
                    Авторы: Щербина О.А.<br>
                    Описание: Рассмотрен класс разреженных задач дискретной оптимизации и обсуждаются возможности
                    выделения блочно-древовидной структуры. Рассмотрено применеие локального алгоритма для решения этих
                    задач дискретной оптимизации.
                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/yablonskii_s_v_red_problemy_kibernetiki_vypusk_40.djvu">
                        О локальных алгоритмах решения квазиблочных задач дискретного программирования
                        Программирование и машинный эксперимент
                    </a><br>
                    Авторы: Щербина О.А.
                    Описание: Проблема разработки методов декомпозиции
                    в дискретном программировании, сводящих решение
                    исходной задачи дискретного программирования к решению ряда задач меньших
                    размеров, которые уже могут быть решены с помощью известных
                    алгоритмов.
                </li>
                <li class="link">
                    <a href="http://www.ipai.net.ua/general/ai_content.php3?m=48&l=u">
                        Методы теории вычислений в решении задач управления технологическими процессами
                    </a><br>
                    Авторы: Маслова Н.А.<br>
                    Описание: Составлен перечень функциональных задач и предполагаемые методы их решения. Для одного из
                    типов задач проведено сравнение методов по признаку вычислительной сложности и объему требуемой
                    памяти. Предложен алгоритм решения задачи, сочетающий элементы трех методов.
                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/25statya.pdf">
                        Модели размещения                         информационных ресурсов                                         в образовательных сетях
                    </a><br>
                    Авторы: Д. Э. Колосов
                    <br>
                    Описание: На базе графовой модели рассматривается задача опптимального размещения информационных ресурсов в сложившейся структуре сети по критерию минимизации сумммарного потока.

                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/metody-optimalnogo-raspredeleniya-resursov-pri-realizatsii-programm-povysheniya-ustoychivosti-promyshlennogo-predpriyatiya.pdf">
                        МЕТОДЫ ОПТИМАЛьНОГО РАСПРЕДЕЛЕНИЯ РЕСУРСОВ
                        ПРИ РЕАЛИзАЦИИ ПРОГРАММ ПОВЫшЕНИЯ
                        УСТОйЧИВОСТИ ПРОМЫшЛЕННОГО ПРЕДПРИЯТИЯ
                    </a><br>
                    Авторы: А. М. Колесников, А. Н. Сторощук,
                    <br>
                    Описание: Рассматривается проблема разработки и применения экономического механизма управления
                    устойчивостью производственного предприятия, в частности, теоретические вопросы совершенствования
                    методики оценки угроз устойчивому развитию промышленных предприятий на ранней стадии их
                    возникновения на основе оптимального распределения ресурсов при реализации программ адаптивного
                    управления. Для анализа устойчивости производственного предприятия выдвигается целесообразность
                    выявления сети проблемных ситуаций, которые и отражают основные угрозы его устойчивому развитию.
                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/VSPU2014_9003.pdf">
                        РАСПРЕДЕЛЕНИЕ РЕСУРСОВ В КОНТЕКСТЕ
                        МУЛЬТИАГЕНТНЫХ СИСТЕМ
                    </a><br>
                    Авторы: Н.В. Мальковский, О.Н. Граничин, К.С. Амелин<br>
                    Описание: В статье предлагается в общих чертах описание различных вариантов задачи распределения
                    ресурсов в контексте мультиагентных систем, областей ее применимости и существующих методов решения
                    этой задачи. Приведена поста новка задачи, охватывающая как классические задачи распределения
                    ресурсов, так и практические задачи распределения ресурсов в больших информационных системах.

                </li>
                <li class="link">
                    <a href="http://onlinelibrary.wiley.com/doi/10.1002/aic.690100626/pdf">
                        Optimization of multistage
                        cyclic and branching system serial procedures
                    </a> <br>
                    Авторы: Aris R., Nemhauser G.L., Wilde D.<br>
                    Описание: Вариационное исчисление, динамическое программирование и принцип максимума Понтрягина все
                    методы оптимизации процессов принятия решений, последовательный, добрые, связанные с
                    многоступенчатые операции, не имеющие рециркуляцию или байпас. Добавление рецикла последовательный
                    процесс делает его циклическим, и разветвления структуры могут быть созданы путем соединения
                    серийных.
                </li>
                <li class="link">
                    <a href="http://www.rand.org/content/dam/rand/pubs/reports/2006/R352.pdf">
                        Applied Dynamic
                        Programming
                    </a> <br>
                    Авторы: Bellman R., Dreyfus S.<br>
                    Описание: Отчет о применении динамического программирования для Военно-воздушных сил США
                </li>
                <li class="link">
                    <a href="">Nonserial Dynamic Programming</a> <br>
                    Авторы: Bertele U., Brioschi F.<br>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-muted">Техническая и спавочная литература</h3>
            <ol start="15">
                <li class="link">
                    <a href="">
                        Математическое программирование в примерах и задачах
                    </a><br>
                    Авторы: Акулич И.Л.<br>
                    Описание:
                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/%D0%9A%D0%B0%D0%BB%D0%B8%D1%85%D0%BC%D0%B0%D0%BD%20%D0%98.%D0%9B.%2C%20%D0%92%D0%BE%D0%B9%D1%82%D0%B5%D0%BD%D0%BA%D0%BE%20%D0%9C.%D0%90.%20%D0%94%D0%B8%D0%BD%D0%B0%D0%BC%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B5%20%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5%20%D0%B2%20%D0%BF%D1%80%D0%B8%D0%BC%D0%B5%D1%80%D0%B0%D1%85%20%D0%B8%20%D0%B7%D0%B0%D0%B4%D0%B0%D1%87%D0%B0%D1%85%20%281979%29.djvu">
                        Динамическое программирование в примерах и задачах: Учеб. пособие
                    </a><br>
                    Авторы: Каліхман И.Л., Войтенко М.А.<br>
                    Описание: Пособие по решению задач динамического программирования
                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/%5BMihalevich_V.S.%2C_Kuksa_A.I.%5D_Metodue_posledovatel%28BookFi.org%29.djvu">
                        Методы последовательной оптимизации и дискретных сетевых задач оптимального распределения
                        ресурсов
                    </a><br>
                    Авторы: Михалевич В.С., Кукса А.И.<br>
                    Описание: Приожение численных методов решения дискретных задач оптимизациию Решение задач
                    распределения ресурсов на сетях.
                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/mihalevich_v_s_trubin_v_a_shor_n_z_optimizacionnye_zadachi_p.djvu">
                        Оптимизационные задачи производственно-транспортного планирования :
                        Модели, методы, алгоритмы.
                    </a><br>
                    Авторы: Михалевич В.С., Трубин В.А., Шор Н.З.<br>
                    Описание: Оптимизационные задачи производственно-транспортного планирования. Описание моделей,
                    методов и алгоритмов решения.
                </li>
                <li class="link">
                    <a href="http://www.cs.berkeley.edu/~vazirani/algorithms/chap6.pdf">
                        Algorithms
                    </a><br>
                    Авторы: Sanjoy Dasgupta , Christos H. Papadimitriou, Umesh Vazirani<br>
                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/%25D0%2593%25D0%25BE%25D1%2582%25D0%25BE%25D0%25B2%25D0%25BE%25D0%25B5.pdf">
                        Дослідження операцій: Навчальний посібник
                    </a><br>
                    Авторы: В.І. Оспіщев, Д.О. Пруненко, Д.Л. Бурко, О.М. Єрмак, Я.В. Санько<br>
                    Описание: У посібнику викладено теоретичні основи дослідження операцій. Для
                    закріплення знань з кожної теми пропонуються приклади вирішення задач,
                    тести. Навчальний посібник потрібний для студентів усіх форм навчання, а
                    також може бути корисний для викладачів, аспірантів, які працюють в
                    навчальних закладах.

                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/mihalevich_v_s_volkovich_v_l_vychislitelnye_metody_issledova.djvu">
                        Вычислительные методы исследования и проектирования сложных систем
                    </a><br>
                    Авторы: Михалевич В.С., Волкович В.Л.<br>
                    Описание: Применение системного продхода к изучению и проектированию сложных систем.
                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/alekseev_o_g_kompleksnoe_primenenie_metodov_diskretnoi_optim.djvu">
                        Комплексное применение алгоритмов дискретной оптимизации
                    </a><br>
                    Авторы: Алексеев О.Г.<br>
                    Описание: Содержит систематизирование изложение задач дискретного программированияю
                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/bellman_r_dreifus_s_prikladnye_zadachi_dinamicheskogo_progra.djvu">
                        ПРИКЛАДНЫЕ ЗАДАЧИ
                        ДИНАМИЧЕСКОГО
                        ПРОГРАММИРОВАНИЯ
                    </a><br>
                    Авторы: Р. БЕЛЛМАН, С. ДРЕЙФУС <br>
                    Описание: Рассмотрены задачи распределения ресурсов, задачи планирования, сглаживания, оптимального
                    поиска, динамического программирования и вариационного исчисления а также задача поиска оптимальной
                    траектории
                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/%D0%A0%D0%B5%D1%88%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B7%D0%B0%D0%B4%D0%B0%D1%87%20%D0%BE%D0%BF%D1%82%D0%B8%D0%BC%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D0%B8%20%D0%B2%20%D1%81%D1%80%D0%B5%D0%B4%D0%B5%20MS%20Excel.pdf">
                        Решение задач оптимизации в среде MS Excel
                    </a><br>
                    Авторы: Леоненков А.В.<br>
                    Описание: Рассматриваются методы и алгоритмы решения типовых задач оптимизации.
                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/%D0%A1%D0%BA%D0%B8%D0%B5%D0%BD%D0%B0%20%D0%A1.%20-%20%D0%90%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC%D1%8B.%20%D0%A0%D1%83%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE%20%D0%BF%D0%BE%20%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B5%20-%202011.djvu">
                        Алгоритмы. Руководство по разработке
                    </a><br>
                    Авторы: С. Скиена<br>
                    Описание: Руководство по разарботке эффективных алгоримтов, в том числе и алгоритмов динамического
                    программировния.
                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/%D0%AD%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D1%8B%20%D0%94%D0%9F%20-%20%D0%92%D0%B5%D0%BD%D1%82%D1%86%D0%B5%D0%BB%D1%8C%20%5B1964%5D.djv">
                        Элементы динамического программирования
                    </a><br>
                    Авторы: Е.С. Венцель<br>
                    Описание: Излагаются основные идеи и методы динамического программирования.
                </li>
                <li class="link">
                    <a href="https://dl.dropboxusercontent.com/u/15556727/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0/dp1.pdf">
                        Динамическое программирование
                    </a><br>
                    Авторы: Д. Кириенко
                </li>
                <li class="link">
                    <a href="http://www.cs.berkeley.edu/~vazirani/algorithms/chap6.pdf">Algorithms</a> <br>
                    Авторы: Dasgupta S., Papadimitriou C.H., Vazirani U.V.<br>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-muted">Специализированые сайты и порталы</h3>
            <ol start="29">
                <li class="link">
                    <a href="https://ru.wikipedia.org/wiki/Динамическое_программирование">
                        Динамическое программирование
                        — Википедия
                    </a>
                    Энциклопедическая статья о динамическом программировании
                </li>
                <li class="link">
                    <a href="http://habrahabr.ru/post/191498/">
                        Всё, что вы хотели знать о динамическом программировании,
                        но боялись спросить
                    </a> Краткий экскурс по задачам динамического программирования

                </li>
                <li class="link">
                    <a href="http://comp-science.narod.ru/WebPage/lesson2.htm">Динамическое программирование</a>
                    Подготовка к олимпиадным задачам по динамическому программированию
                </li>
                <li class="link">
                    <a href="http://informatics.mccme.ru/course/view.php?id=9">
                        Курс по динамическому
                        программированию
                    </a>
                    Учебный курс по динамическому программированию школы дистанционной подготовки с примерами и
                    задачами.
                </li>
                <li class="link">
                    <a href="http://acmp.ru/article.asp?id_sec=1&id_text=1331">ДИНАМИЧЕСКОЕ ПРОГРАММИРОВАНИЕ</a>
                    Учебный курс по динамическому программированию школы дистанционной подготовки с примерами и
                    задачами.

                </li>
                <li class="link">
                    <a href="http://codeforces.com/blog/entry/6206">Динамическое программирование.</a>
                    Разбор задачи с Yandex Contest
                </li>
                <li class="link">
                    <a href="http://math.semestr.ru/dinam/dynamic-model.php">Задача распределения ресурсов</a>
                    Онлайн-калькулятор предназначен для решения задачи оптимального распределения ресурсов заданных в
                    виде функций f(x). Результаты вычислений оформляются в отчете формата Word
                </li>
                <li class="link">
                    <a href="http://math.semestr.ru/dinam/zamena.php">Задача замены оборудования</a> Данный сервис
                    предназначен для онлайн решения задачи оптимальной стратегии обновления оборудования.
                </li>
                <li class="link">
                    <a href="https://www.youtube.com/playlist?list=PLUfHxBkkFMScK6mOOWp5s6LgbzmtfwmYQ">
                        Динамическое
                        программирование (новый курс лекций 2014-2015)
                    </a> Видео-курс по динамическому программированию
                    от Игоря Клейнера
                </li>
                <li class="link">
                    <a href="https://www.youtube.com/playlist?list=PL962BEE1A26238CA3">
                        Programming Interviews: Dynamic
                        Programming
                    </a>
                    Видео-разбор задач динамического программирования, которые спрашивают на собеседованиях в компании
                </li>
                <li class="link">
                    <a href="https://www.topcoder.com/community/data-science/data-science-tutorials/dynamic-programming-from-novice-to-advanced/">
                        Dynamic
                        Programming – From Novice to Advanced
                    </a> Разбор задач динамического программировния различой
                    сложности
                </li>
                <li class="link">
                    <a href="http://web.mit.edu/15.053/www/AMP-Chapter-11.pdf">Dynamic Programming</a> Учебные материалы
                    Massachusetts Institute of Technology по динамическому программировнию
                </li>
                <li class="link">
                    <a href="http://web.stanford.edu/class/cs97si/04-dynamic-programming.pdf">Dynamic Programming</a>
                    Учебные материалы Stanford University по динамическому программировнию
                </li>
                <li class="link">
                    <a href="http://www.geeksforgeeks.org/tag/dynamic-programming/">Dynamic Programming Archive</a>
                    Подборка задач динамического программирования
                </li>
                <li class="link">
                    <a href="http://acm.timus.ru/problemset.aspx?space=1&tag=dynprog">
                        Problem set. Dynamic Programming
                        Problems
                    </a> Соревнование по решению задач динамического программировнаия
                </li>
                <li class="link">
                    <a href="http://www.quora.com/What-are-the-top-10-most-popular-dynamic-programming-problems-among-interviewers">
                        What
                        are the top 10 most popular dynamic programming problems among interviewers?
                    </a> Еще одна
                    подборка задач динамического программирования, которые спрашивают на интервью
                </li>
                <li class="link">
                    <a href="https://www.hackerrank.com/domains/algorithms/dynamic-programming">
                        Dynamic Programming
                        Challenges
                    </a> Подборка задач для решения методом динамического программирования
                </li>
                <li class="link">
                    <a href="http://people.cs.clemson.edu/~bcdean/dp_practice/">
                        Dynamic Programming Practice
                        Problems
                    </a> Важнейшие проблемы, решаймые при помощи динамического программирования
                </li>
                <li class="link">
                    <a href="https://www.cs.berkeley.edu/~vazirani/algorithms/chap6.pdf">
                        Dynamic
                        programming
                    </a> Учебные материалы Berkeley EECS на тему динамического программирования
                </li>
                <li class="link">
                    <a href="http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=114">
                        AOAPC I:
                        Beginning Algorithm Contests :: Volume 5. Dynamic Programming
                    </a> Большой набор задач
                    динамическог опрограммирования для самопроверки
                </li>
                <li class="link">
                    <a href="https://www.youtube.com/playlist?list=PLW1OMpQZxu7z9d3aajQ0EerthCGaE3QLS">Algorithms</a>
                    Видео-уроки по алгоритмам, включая алгоритмы динамического программирования
                </li>
                <li class="link">
                    <a href="http://20bits.com/article/introduction-to-dynamic-programming">
                        Introduction to Dynamic
                        Programming
                    </a> Взгляд на динамическое программирование современного разработчика
                </li>
            </ol>
        </div>
    </div>
</div>