<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Ссылки</h2>
            <h3 class="text-muted">Материалы магистров ДонНТУ</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-muted">Научные работы и статьи</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-muted">Техническая и спавочная литература</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-muted">Специализированые сайты и порталы</h3>
        </div>
    </div>
</div>