<div class="container">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">Реферат</h2>
    </div>
    <div class="col-lg-12">
        <h3 class="text-muted">Содержание</h3>
        <ol>
            <li><a href="#introduction"> Введение</a></li>
            <li><a href="#targets"> Цели и задачи</a></li>
            <li><a href="#actuality"> Актуальность темы</a></li>
            <li><a href="#classification"> Классификация задач многомерного динамического программирования</a></li>
            <li><a href="#distribution"> Задача распределения ресурсов</a></li>
            <li>
                <a href="#combination"> Комбинирование динамического программирования с методом ветвей и границ</a>
            </li>
            <li><a href="#conclusion"> Выводы</a></li>
            <li><a href="#sources"> Список источников</a></li>
        </ol>
        <h4 class="referat-title" id="introduction">Введение</h4>
        <p>
            Решение задач математического программирования, которые могут быть представлены в виде многошагового
            процесса, составляет предмет динамического программирования. Вместе с этим динамическим
            программированием называют особый математический метод оптимизации решений, специально приспособленный к
            многошаговым процессам. Многошаговым обычно считают процесс, развивающийся во времени и распадающийся на
            ряд «шагов», или «этапов»
        </p>
        <p>
            В данной работе будет рассмотрено что из себя представляет динамическое программирование классические
            задачи многомерного динамического программирования и относительно новый метод комбинирования методов
            динамического программирования с методом ветвей и границ.
        </p>
        <h4 class="referat-title" id="targets">Цели и задачи</h4>
        <p>
            Целью данной работы является разработка и анализ алгоритмов многмерного динамического программирования. Для
            достижения поставленной цели необходимо решить ряд задач:
        </p>
        <ul class="list">
            <li>проанализировать существующие задачи;</li>
            <li>выбрать наиболее интересные и актуальные задачи;</li>
            <li>разработать алгоритм решения при помощи динамического программирования;</li>
            <li>оценить полученные результаты по следущим критериям: погрешность, сложность, время, память.</li>
        </ul>
        <p>
            Каждый алгоритм должен сопровождаться блоком инструктажа и теоретической справкой по применению того или иного
            метода.
        </p>

        <h4 class="referat-title" id="actuality">Актуальность темы</h4>
        <p>
            Актуальность разработки алгоритмов решения задач многомерного динамического программирования является
            актульной, т.к. по сути, вся история человечества связана с решением задач оптимизации. Эти задачи
            используются как в быту так и на производстве. В обычных условиях человек может решать задачи оптимизации
            при распредлении бюджета семьи, а на производстве это могут быть задачи, связанные с оптимальным
            проектированием устройств, механизмов и т.д. Динамическое программирование является отностиельно быстрым и
            точным способом решения данных задач, за счет избавления от повторяющиихся расчетов.
        </p>
        <p></p>
        <p></p>
        <h4 class="referat-title" id="classification">
            Классификация задач многомерного динамического
            программирования
        </h4>
        <p>
            Если решение задачи использует решение единственной задачи предыдущих уровней, то формулировка задачи ДП
            является монадической
            , иначе она называется полиадической . В орграфе без контуров вершины могут быть разбиты на уровни, так что
            задачи на данном уровне зависят только от подзадач предыдущих уровней. В зависимости от связей задач на
            разных уровнях, формулировка задачи ДП может быть отнесена либо к сериальным , либо к несериальным задачам.
            Если задачи семейства на всех уровнях зависят только от результатов решения задач, находящихся на
            непосредственно предшествующем уровне, то такая задача ДП будет называться сериальной задачей ДП, иначе она
            называется несериальной задачей ДП. Используя эти два критерия классификации, можно относить задачи ДП к
            одному из следующих видов:
        </p>
        <ul class="list">
            <li>сериально-монадическая</li>
            <li>сериально-полиадическая</li>
            <li>несериально-монадическая</li>
            <li>несериально-полиадическая</li>
        </ul>

        <h4 class="referat-title" id="distribution">Задача распределения ресурсов</h4>
        <p>
            Наиболее интересна задача распределения ресурсов. В общем виде эта задача может быть описана следующим
            образом. Есть какое-то количество ресурсов, под которыми можно понимать деньги, материальные ресурсы (сырье,
            полуфабрикаты, трудовые ресурсы, различные виды оборудования и т.п.). Эти ресурсы необходимо разделить между
            различными объектами их использования по отдельным промежутками планового периода или между различными
            объектами и различными интервалами таким образом, чтобы получить максимальную суммарную эффективность от
            выбранного способа распределения. Показателем эффективности может быть доход, товарная продукция,
            фондоотдача (задачи максимизации) или суммарные затраты, себестоимость, время выполнения заданного объема
            работ (задачи минимизации) и др.
        </p>
        <p>
            Большинство задач математического программирования подходит под общее постановление задачи оптимального
            распределения ресурсов. Но при рассмотрении моделей решений таких задач необходимо конкретизировать общую
            форму задачи распределения ресурсов.
            Математическая модель задач распределения ресурсов изображена в формуле 6.
        </p>
        <img src="~/Content/images/2015-05-21_181211.png" class="img-responsive">
        <p>Типичная задача распределения ресурсов имеет следующую формулировку:</p>
        <p>
            Есть некоторая начальная количество ресурсов ξ_0, которые нужно распределить в течении n-лет между
            s-предприятиями. Ресурсы u_ki (k = 1,2,...,n; i = 1,...,s), выделенных в k-том году i-тому предприятию,
            приносят прибыль в размере f_ki (u_ki) и в конце года возвращаются в количестве φ_ki (u_ki). В следующем
            распределении прибыли может использоваться, а может и не использоваться. Надо найти такой способ
            распределения ресурсов (количество ресурсов, выделяемых каждому предприятию в каждом плановом году), чтобы
            суммарный доход от s-предприятий по n-лет был максимальным.
        </p>
        <p>
            Таким образом в качестве показателя эффективности процесса распределения ресурсов по n-лет принимается
            суммарный доход, полученный от s-предприятий (формула 7).
        </p>
        <img src="~/Content/images/2015-05-21_181211.png" class="img-responsive">
        <p>
            При постановке задачи оптимального распределения ресурсов предполагалось, что доход на каждом шагу от всех
            предприятий и максимальный доход Z_k * (ξ), начиная с k-го шага до конца планового периода, зависели только
            от состояния системы ξ на k-м шаге и от управления u_k = (u_k1,u_k2 ...,u_ks) н
        </p>
        <p>
            Таким образом, нарушается одно из условий, предъявляемым к задачам оптимизации, для того чтобы их можно было
            описать моделью динамического программирования. Чтобы учесть предысторию процесса распределения ресурсов,
            можно увеличить число параметров состояния на каждом шагу, искусственно включив в
        </p>

        <h4 class="referat-title" id="combination">
            Комбинирование динамического программирования с методом ветвей и
            границ
        </h4>
        <p>
            Большой класс прикладных задач оптимизации сводится к задачам целочисленного программирования. Для
            решения этих задач широко применяются комбинаторные методы, основанные на упорядоченном переборе
            наиболее перспективных вариантов. Комбинаторные методы решения можно разделить на две группы: методы
            динамического программирования и методы ветвей и границ.
        </p>
        <p>
            При решении многомерных задач оптимизации предлагается совместное применение методов ветвей и границ и
            динамического программирования. На первом этапе задача решается методом динамического программирования
            отдельно по каждому из ограничений. Последовательности, полученные в результате решения функционального
            уравнения динамического программирования, в дальнейшем используется для оценки верхней (нижней) границы
            целевой функции. На втором этапе задача решается методом ветвей и границ. При использовании этого метода
            определяется способ разбиения всего множества допустимых вариантов на подмножества, то есть способ
            построения дерева возможных вариантов, и способ оценки верхней границы целевой функции.
        </p>
        <p>
            Комплексное применение методов динамического программирования и ветвей и границ позволяет повысить
            эффективность решения дискретных задач оптимизации. При решении задач большой размерности с целью
            уменьшения членов оптимальной последовательности используются дополнительные условия отсечения.
        </p>
        <p>Алгоритм поиска решения комбинированным методом ветвей и границ показано на рисунке ниже:</p>
        <img src="~/Content/images/combination.png" class="img-responsive">
        <p>
            Основные направления комплексного применения методов динамического программирования и методов ветвей и
            границ это:
        </p>
        <ul class="list">
            <li>
                отсечение бесперспективных вариантов с помощью принципа оптимальности и оценки границ решения путем
                снятия условий целочисленности;
            </li>
            <li>использование оптимальных последовательностей динамического программирования;</li>
            <li>
                отсечение бесперспективных вариантов с помощью принципа оптимальности и оценки границ решения по
                оптимальным последовательностям.
            </li>
        </ul>
        <p>
            Ожидается, что комплексное применение методов динамического программирования и ветвей и границ позволит
            повысить эффективность решения дискретных задач оптимизации, и составляет цель дальнейшего
            исследования.
        </p>
        <h4 class="referat-title" id="conclusion">Выводы</h4>
        <p>
            Динамическое программирование очень часто используется для решения оптимизационных задач, т.к. позволяет
            сократить время и сложность решения в разы.
        </p>
        <p>
            К сожалению, не всегда решение, полученное при помощи метода динамического программирования является
            оптимальным, поэтому разрабатываются и альтернативные варианты решения задач. Одним из таких вариантов
            есть комбинирование решения методом динамического программирования с методом ветвей и границ. Анализ и
            реализация этого комбинированного метода являются одной из основных задач автора в рамках написания
            дипломной работы.
        </p>
        <h4 class="referat-title" id="sources">Список источников</h4>
        <ol>

            <li>
                Динамическое программирование / Интернет-ресурс – Режим доступа: www/ URL:
                https://ru.wikipedia.org/wiki/Динамическое_программирование
            </li>
            <li>
                Динамическое программирование. Классические задачи / Интернет-ресурс – Режим доступа: www/ URL:
                http://habrahabr.ru/post/113108/
            </li>
            <li>
                Калихман И.Л., Войтенко М.А. Динамическое программирование в примерах и задачах: Учеб. пособие. –
                М.:
                Высш. школа, 1979. – 125 с.ил.
            </li>
            <li>
                Комплексное применение метода динамического программирования и метода ветвей и границ для решения
                задач
                оптимизации М.А. Алпатов, Р.В. Бубнов / Интернет-ресурс – Режим доступа: www/ URL:
                http://www.nit7.artdesign.ru/sections/b/73.html
            </li>
            <li>
                Маслова Н.А. Методы теории вычислений в решении задач управления технологическими процессами / Н.А.
                Маслова // Штучний інтелект.–2007.– № 3. – С. 165–171
            </li>
            <li>
                Методы последовательной оптимизации и дискретных сетевых задач оптимального распределения ресурсов.
                Михалевич В.С., Кукса А.И. – М.: Наука. Главная редакция физико-математической литературы, 1983. –
                208с.
            </li>
            <li>
                Михалевич В.С., Трубин В.А., Шор Н.З. Оптимизационные задачи производственно-транспортного
                планирования:
                Модели, методы, алгоритмы. – М.: Наука. Гл. ред. физ.-мат. лит., 1986. – 264 с.
            </li>
            <li>
                Р. Беллман, С.Дрейфус Прикладные задачи динамического программирования. М., 1965 г., 460с с илл.
            </li>
        </ol>
        <hr>
        <h5>Примечание</h5>
        <p>
            Автореферат носит обзорный характер и не является полной версией магистерской работы. При написании
            данного автореферата магистерская работа еще не завершена. Планируемы срок завершения работы: декабрь
            2015 года. Расширенные сведения по работе и полный перечень материалов могут быть получены у автора или
            его руководителя после указанной даты.
        </p>
    </div>
</div>
