
<div class="container">
    <div class="row center-block text-center">
        <p></p><h1>Лысакова Наталья Владимировна</h1><p></p>
    </div>
    <div class="row col-md-8 col-md-offset-2 text-center  text-muted">
        <p>
            Факультет компьютерных наук и технологий<br>
            Кафедра прикладной математики и информатики<br>
            Специальность "Программное обеспечение систем"
        </p>
    </div>
    <div class="row col-md-8 col-md-offset-2 text-center">
        <h3>Разработка и анализ алгоритмов двумерного динамического программирования</h3>
        Научный руководитель доц. Маслова Наталья Александровна<p></p>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <th class="col-md-4">ФИО</th>
                    <td>Лысакова Наталья Владимировна</td>
                </tr>
                <tr>
                    <th>Дата рождения</th>
                    <td>22 августа 1992г.</td>
                </tr>
                <tr>
                    <th>Место рождения</th>
                    <td>г. Донецк</td>
                </tr>
                <tr>
                    <th>Школа</th>
                    <td>Общеобразовательная  школа №98 г. Донецк</td>
                </tr>
                <tr>
                    <th>ВУЗ</th>
                    <td>
                        <strong>Бакалаврат:</strong> <br>
                        2010–2011 гг. — Государственный университет информатики и искусственного интеллекта, факультет: «Компьютерных информационных технологий», специальность: «Программное обеспечение интеллектуальных систем».<br>
                        2011–2014 гг. — ГВУЗ «Донецкий национальный технический университет», факультет: «Компьютерных наук и технологий», специальность: «Программное обеспечение систем».<br>
                        <strong>Магистратура:</strong><br>
                        2014–2016 гг. — ГВУЗ «Донецкий национальный технический университет», факультет: «Компьютерных наук и технологий», специальность: «Программное обеспечение систем».
                    </td>
                </tr>
                <tr>
                    <th>Средний балл</th>
                    <td>4,6</td>
                </tr>
                <tr>
                    <th>Владение языками</th>
                    <td>
                        Русский - родной <br>
                        Украинский - свободно<br>
                        Английский - средний
                    </td>
                </tr>
                <tr>
                    <th>Увлечения</th>
                    <td>История, Немецкая тяжелая музыка, компьютерные игры, участие в программах тестирования ПО</td>
                </tr>
                <tr>
                    <th>Личные качества</th>
                    <td>Пунктуальная ленивая задница</td>
                </tr>
                <tr>
                    <th>Профессиональная специализация и владение компьютером</th>
                    <td>
                        Операционные системы: Windows XP/Vista/7/8/10
                        Языки программирования и разметки: C#, C/C++, Java, JavaScript, HTML, CSS
                        Технологии и фреймворки: ASP.Net, MVC, Entity Framework, JQuery, Twitter Bootstrap
                        Среды разработки: Microsoft Visual Studio, Intellij IDEA, WebStorm
                        БД: Microsoft SQL Server, Oracle Database, Microsoft Access, MySQL
                        Системы контроля версий: Git, Mercurial
                        Средства моделирования: MS Visio, ERWin, Rational Rose
                        Системы 3D моделирования: 3d Studio Max, Maya, SketchUp
                        Знания: ООП, Unit Testing, Scrum
                    </td>
                </tr>
                <tr>
                    <th>Дополнительные курсы, стажировки, гранты</th>
                    <td>Март 2014 - Программирование под мобильную платформу Android. ТехноПарк ДонНТУ</td>
                </tr>
                <tr>
                    <th>Опыт работы</th>
                    <td>2013, 2014 Летняя и преддипломная практика на предприятии ООО "В.И.П.Авто" г.Донецк</td>
                </tr>
                <tr>
                    <th>Контактная информация</th>
                    <td>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="col-md-12">
                            <a href="mailto: natashalysakova@gmail.com" target="_blank"><i class="fa fa-envelope big-icons"></i></a>
                            <a href="tel:+380508104250" target="_blank"><i class="fa fa-phone big-icons"></i></a>
                            <a href="https://twitter.com/natashalysakova" target="_blank"><i class="fa fa-twitter big-icons"></i></a>
                            <a href="https://www.facebook.com/hatassska" target="_blank"><i class="fa fa-facebook big-icons"></i></a>
                            <a href="https://ua.linkedin.com/in/natashalysakova" target="_blank"><i class="fa fa-linkedin big-icons"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
